@model IEnumerable<curdopeartionmvc.employee>
@{
    ViewBag.Title = "mobilenumber";
}

<h2>mobilenumber</h2>

<form asp-controller="Home" asp-action="mobilenumber">
    <p>
        Title: <input type="text" name="mobilenumber" />
        <input type="submit" value="Search" />
    </p>
</form>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fristname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobilenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofJoining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBrith)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fristname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobilenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofJoining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBrith)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.EmployeeId, employeeId = item.EmployeeId }) |
                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId, EmployeeId = item.EmployeeId })
                </td>
            </tr>
        }

    </table>
}